/* Extra css to customize the look above the settings of the default Oranda theme. */
h1, h2, h3, h4, h5, h6 {
  /* TODO: fix gradient color with logo colors*/
		background: linear-gradient(to right, #1abadb 0%, #18e258 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
}

p, li, ul, ol, blockquote, code, pre {
  font-size: 1.3rem;
}

li {
  list-style: disc;
}

nav li {
  font-size: 1.5rem;
  list-style: none;
}
footer {
  display: none;
}


main {
  /*Make margins much slower but leave some space*/
  h1 {
    margin: 30px 0;
    margin-top: 50px;
  }
  h2 {
    margin: 20px 0;
    margin-top: 40px;
  }
  h3, h4 {
    margin: 10px 0;
    margin-top: 30px;
  }
  p, blockquote {
    margin: 8px 0;
  }
  img {
    margin: 15px 0 !important;
  }
}

